body {
	background: $grey-mid-light;
	color: $grey-dark;

	font-family: "Adelle Sans", Helvetica, Arial, sans-serif;
}

h1,
h1 a {
	color: $green-bright;
}

h2 {
	color: $green-dark;
}

a {
	color: $green-mid-dark;
}