body {
	background: $grey-mid-light;
	color: $grey-dark;

	font-family: "Adelle Sans", Helvetica, Arial, sans-serif;
	font-size: $unit*1.5;
	line-height: $unit*2.5;
}

h1,
h1 a {
	color: $green-bright;
	font-size: $unit*2.4;
	margin: $unit 0 $unit*2 0;
}

h2 {
	color: saturate($green-dark, 100%);
	font-size: $unit*1.8;
	line-height: $unit*3;
	margin: $unit*2 0 $unit*2 0;
}

h3 {
	font-size: $unit*1.6;
	margin: $unit*2 0 $unit 0;
	text-transform: uppercase;
}

a {
	color: $grey-darker;
}

p {
	margin-bottom: $unit;
}

ul, ol {
	margin: 0 0 $unit * 2 $unit * 2
}

li {
	margin-bottom: $unit;
}