.site-header {
	h2 {
		color: $green-mid-light;
		float: left;
		font-size: $unit*2.4;
		margin: 0 $unit;
		text-transform: uppercase;
		
		@media only screen and (min-width: $unit*53) {
			margin-top: $unit*1.5;
		}
	}
}

.site-title {
	@include hide;
}

.site-navigation {
	float: right;
	padding-top: $unit;
	padding-right: $unit;
	overflow: hidden;

	ul {
		margin-left: 0;

		li {
			float: left;
			list-style-type: none;

			&.selected {
				a {
					background: $green-dark;
					color: $grey-light;
				}
			}
			
			 a {
			 	background: $green-mid;
			 	border-radius: $unit;
			 	color: $green-light;
				display: block;
				float: left;
				line-height: $unit*2.4; /* tweaked to make text sit in vertical middle of button */
				margin-left: $unit;
				padding: $unit/2 $unit 0 $unit; /* tweaked to make text sit in vertical middle of button */
				text-decoration: none;
				text-transform: uppercase;

				&:hover, &:active {
					background: $green-bright;
					color: $green-dark;
				}

				@media only screen and (min-width: $unit*70) {
					margin-left: $unit*2;
					padding-right: $unit*1.5;
					padding-left: $unit*1.5;	
				}
			}
		}
	}	
}

.svg .logo {
	background: url('../images/web-talk-dog-walk.svg') 0 0 no-repeat;
	background-size: 100% 99%;

	img {
		position: relative;
		top: -$unit*50;
	}
}