.site-header {
	overflow: hidden;
	padding: $unit $unit $unit*8 $unit;
}

.main {
	background: $green-mid;
	padding: $unit $unit 0 $unit;
}

.content {
	background: $grey-light;
	border: $unit/10 solid $grey-mid-light;
	padding: $unit*2 $unit*2 $unit*4 $unit*2;
}

.site-footer {
	padding: $unit*2 $unit*2 $unit*4 $unit*2;
}