.site-header {
	overflow: hidden;
	padding: $unit $unit $unit*8 $unit;
}

.header-wrap {
	@include centre-layout;
}

.main {
	background: $green-mid;
	padding: $unit;
}

.logo {
	@include centre-layout;
}

.content {
	background: $grey-light;
	border: $unit/10 solid $grey-mid-light;
	border-radius: $unit;
	@include centre-layout;
	padding: $unit*2;
}

.site-footer {
	@include centre-layout;
	padding: $unit*2 $unit*2 $unit*2 $unit*2;

	img {
		float: right;
		margin: 0 0 $unit $unit;
	}
}