@mixin hide {
	height: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

@mixin centre-layout {
	margin-left: auto;
	margin-right: auto;
	max-width: $unit*70;
}

@mixin border-box {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}