.widgets {
	border-top: $unit/10 solid $grey-mid;
	border-bottom: $unit/10 solid $grey-mid;
	margin-bottom: $unit*2;
	padding-bottom: $unit*2;
	position: relative;

	@media only screen and (min-width: $unit*50) {
		overflow: hidden;
	}

	@media only screen and (min-width: $unit*70) {
		border-top: none;
		border-bottom: none;
		border-left: $unit/10 solid $grey-mid;
		float: right;
		margin-top: -$unit*8.5;
		margin-left: $unit*4;
		max-width: $unit*18;
	}
}

.event {
	.date {
		background: $white;
		border: $unit/10 solid $grey-mid;
		border-top-width: 0;
		border-bottom-width: $unit;
		margin-bottom: $unit;
		max-width: $unit*12;
		position: relative;

		.day {
			font-size: $unit*7.2;
			line-height: $unit*10;

			a {
				color: $grey-dark;
				display: block;
				font-weight: bold;
				margin-top: $unit*2.5;
				position: absolute;
				text-align: center;
				width: 100%;
			}
		}

		.month {
			background: $red;
			display: block;
			color: $white;
			margin-bottom: $unit*9;
			text-align: center;
			text-transform: uppercase;
		}
	}

	.location {
		margin-bottom: $unit*2;

		@media only screen and (min-width: $unit*50) {
			position: absolute;
			width: 195%;
		}

		@media only screen and (min-width: $unit*70) {
			position: relative;
			width: 100%;
		}
	}
}

.next-walk {

	@media only screen and (min-width: $unit*30) {
		float: left;
	}

	@media only screen and (min-width: $unit*50) {
		position: relative;
		width: 33.33%;
	}

	@media only screen and (min-width: $unit*70) {
		border-bottom: $unit/10 solid $grey-mid;
		clear: both;
		padding: 0 $unit 0 $unit*3;
		width: auto;

		h3 {
			margin-top: $unit;
		}
	}
}

.forecast {
	.forecast-weather {
		background: url('../images/weather.png') 0 0 no-repeat;
		@include hide;
		padding-top: $unit*9;
		margin-bottom: $unit;
		min-width: $unit*9;

		&.snow {
			background-position: 0 -110px;
		}

		&.cloudy {
			background-position: 0 -220px;
		}

		&.rainy {
			background-position: 0 -335px;
		}

		&.sunny {
			background-position: 0 -440px;
		}
	}

	@media only screen and (min-width: $unit*30) {
		right: 0;
		position: absolute;
	}

	@media only screen and (min-width: $unit*50) {
		float: left;
		right: auto;
		position: relative;
		width: 33.33%;
	}

	@media only screen and (min-width: $unit*70) {
		border-bottom: $unit/10 solid $grey-mid;
		clear: both;
		padding: 0 $unit 0 $unit*3;
		width: 100%;
	}
}

.lead-by {
	border-top: $unit/10 solid $grey-mid;

	@media only screen and (min-width: $unit*30) {
		clear: both;
	}

	@media only screen and (min-width: $unit*50) {
		border-top: none;
		clear: none;
		float: left;
		width: 33.33%;

		img {
			float: left;
			max-width: $unit*12;
		}
	}

	@media only screen and (min-width: $unit*70) {
		clear: both;
		padding: 0 $unit 0 $unit*3;
		width: auto;
	}
}