<div class="vevent event">
    <div class="date">
        <time class="day" datetime="<perch:events id="eventDateTime" format="d" />">
            <a class="value-title" title="<perch:events id="eventDateTime" format="d" href="<perch:events id="eventURL" />">
                <perch:events id="eventDateTime" format="d" />
            </a>
        </time>
        <time class="month dtstart" datetime="<perch:events id="eventDateTime" format="F y" />">
            <span class="value-title" title="<perch:events id="eventDateTime" format="F y" />">
                <perch:events id="eventDateTime" format="F 'y" />
            </span>
        </time>
    </div>
    <p class="location summary">
        <a href="<perch:events id="eventURL" />">
            <perch:events id="eventTitle" /> - <perch:events id="eventLocation" label="Location"/>
        </a>
    </p>
</div>